<title><%= title %></title>
<main class="d-flex flex-column justify-content-center align-items-center vh-100 text-center bg-dark text-white">
    <h1 class="display-1 fw-bold">403</h1>
    <p class="fs-4 text-gradient"><%= message %></p>
    <a href="/dashboard" class="btn-hover btn-shadow btn-outline-light btn-lg mt-3" style="text-decoration: none;">Kembali ke Catatan</a>
</main>