<main class="d-flex flex-column justify-content-center align-items-center vh-100 text-center bg-dark text-white">
    <h1 class="display-1 fw-bold">500</h1>
    <p class="fs-4">Maaf! Terjadi kesalahan pada server kami.</p>
    <a href="/" class="btn-hover btn-shadow btn-outline-light btn-lg mt-3" style="text-decoration: none;">Kembali ke Beranda</a>
</main>